@charset 'UTF-8';

body {
	background: #EEE;
}

.hidden {
	display:none !important; 
}

.main {
	margin-top: 14px;
}

.content {
	background: white;
	border-radius: 6px;
	padding: 14px;
	border: 1px solid #DDD;
}

.content .header {
	border-bottom: 1px solid #e5e5e5;
	margin-bottom: 14px;
}

.content .header h4 {
	margin-top: 0;
}


.players, .leaderboard {
	min-height: 600px;
}

.players ul {
	list-style: none;
	margin-left: 6px;
}

.players ul li i {
	margin-right: 6px;
}

#JoinDiv {
	margin-top: 200px;
}

.bucket {
	padding: 10px;
	margin-bottom: 18px;
}

.slot {
	line-height: 25px;
	width: 100px;
	display:inline-block;
	/*float:left;*/
	margin-left:12px;
	border: 1px solid #BBB;
	margin-bottom: 10px;
	padding-left: 4px;
	border-radius: 3px;
}

.notSlot {
	/*height: 25px;
	width: 100px;
	float:left;*/
}

.puzzleBox {
}

.pieceClass {
	border: 1px solid #BBB;
	text-align:center;
	border-radius: 3px;
}


.selectedPiece {
	color:red;
}

.actionableItem {
	cursor:pointer;
}

.UserList {
	
}

.untouchable {
	color: #777777;
}

ul.words {
	list-style: none;
	margin: 0;
}

.words li {
	padding: 4px;
	display: inline-block;
	margin-left: 10px;
	margin-bottom: 10px;
}