@charset 'UTF-8';

body {
	background: #EEE;
}

.hidden {
	display:none;
}

.main {
	margin-top: 14px;
}

.content {
	background: white;
	border-radius: 6px;
	padding: 14px;
	border: 1px solid #DDD;
}

.content .header {
	border-bottom: 1px solid #e5e5e5;
	margin-bottom: 14px;
}

.content .header h4 {
	margin-top: 0;
}


.players, .leaderboard {
	min-height: 600px;
}

#JoinDiv {
	margin-top: 200px;
}

.bucket {
	padding: 10px;
	margin-bottom: 18px;
}

.slot {
	height: 25px;
	width: 100px;
	display:inline-block;
	/*float:left;*/
	margin-left:12px;
	border: 1px solid black;
	position: relative;
	bottom: -0.5em;
}

.notSlot {
	/*height: 25px;
	width: 100px;
	float:left;*/
}

.puzzleBox {
}

.pieceClass {
	border: 1px solid black;
	width:100px;
	display:block;
	text-align:center;
}


.selectedPiece {
	color:red;
}

.actionableItem {
	cursor:pointer;
}

.UserList {
	
}

.untouchable {
	color: #777777;
}