<!DOCTYPE html>
<html>
	<link rel="stylesheet" href="http://code.jquery.com/ui/1.10.3/themes/smoothness/jquery-ui.css" />
	<link rel="stylesheet" href="/css/bootstrap.css" />
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<link href="/css/bootstrap-responsive.css" rel="stylesheet">
	<link rel="stylesheet" href="/css/custom.css" />
	<script src="/socket.io/socket.io.js"></script>
	<script src="http://code.angularjs.org/1.0.6/angular.min.js"></script>
	<script src="http://code.jquery.com/jquery-1.9.1.js"></script>
	<script src="http://code.jquery.com/ui/1.10.3/jquery-ui.js"></script>
	<script src="js/directives.js"></script>
	<script src="js/join.js"></script>
	<script src="js/game.js"></script>
	<script src="js/finished.js"></script>
	<script>
		var socket = io.connect(window.location.origin);
			
		socket.on('status', function(data) {
			console.log('status: ' + JSON.stringify(data));
		});
		
	</script>

<body ng-app="Game">
	<div class="navbar navbar-static-top navbar-inverse">
		<div class="navbar-inner">
			<span class="brand">OM NOM NOM</span>
		</div>
	</div>
	<div class="container-fluid main">
		<div id="JoinDiv" ng-controller="JoinController" class="row-fluid">
			<div class="span4 offset4 content">
				<form>
					<fieldset>
						<legend>OM NOM NOM GO!</legend>
	    				<div class="input-append">
	    					<input type="text" ng-model="yourName" placeholder="Enter your name" class="span12">
	    					<button ng-click="validateAndJoin()" class="btn btn-primary" type="button">Join Game</button>
	    				</div>
					</fieldset>
				</form>
			</div>
		</div>

		<div id="GameDiv" class="hidden" ng-controller="GameController" class="row-fluid">
			<div class="span3 content">
				<div class="row-fluid">
					<div class="users">
						<h4>Players</h4>
						<div ng-repeat="player in players" id="player-{{player.socketId}}">
						{{player.name}}</div>
					</div>
				</div>
			</div>
			<div class="span6 container-fluid">
				<div class="row-fluid">
					<div class="bucket actionableItem span12 content" ng-Dblclick="bucketDoubleClick()">
						<h4>Bucket List</h4>
						<div ng-repeat="piece in pieces" id="piece-{{piece.id}}" ng-click="pieceClick(piece.id)" class="actionableItem pieceClass" draggable="true" ondragstart="onPieceDragStart({{piece.id}})" ondragend="onPieceDrop({{piece.id}})">{{piece.value}}</div>
					</div>
				</div>
				<div class="row-fluid">
					<div class="puzzleBox span12 content">
						<h4>Puzzle</h4>
						<span ng-repeat="slot in slots" class="{{slot.cssClass}}" id="slot-{{slot.id}}" ng-Dblclick="slotDoubleClick(slot.id)" ng-click="slotClick(slot.id)" ondragover="allowDroppable({{slot.id}}, 'slot-{{slot.id}}')" ondrop="onPieceDropped(event, {{slot.id}})"> {{slot.value}}</span>.
					</div>
				</div>
			</div>
			<div class="span3 content">
				<div class="row-fluid">
					<div class="users">
						<h4>Leader Board</h4>
						<div ng-repeat="highscore in highscores" id="highscore-{{highscore.user.socketId}}">
						{{highscore.user.name}} - {{highscore.score}}</div>
					</div>
				</div>
			</div>
		</div>

		<div id="WaitingDiv" class="hidden" ng-controller="GameController">
			Waiting for enough players to join. When enough players have joined, the game will begin automatically.
		</div>

		<div id="FinishedDiv" class="hidden" ng-controller="FinishedController">
			Good job. You beat the puzzle. You get a gold star.<img src="http://smhttp.18058.nexcesscdn.net/808D60/wordpress/wp-content/uploads/2012/10/gold-star1.jpg"/>
		</div>
	</div>
</body>

</html>