@charset 'UTF-8';

.bucket {
	height: 200px;
	width: 300px;
	border: 1px solid black;
}

.slot {
	height: 25px;
	width: 100px;
	display:block;
	float:left;
	margin-left:12px;
	border: 1px solid black;

}
.notSlot {
	height: 25px;
	width: 100px;
	float:left;
}

.puzzleBox {
	height: 300px;
	width: 800px;
	border: 1px solid black;
}

.pieceClass {
	border: 1px solid black;
	width:100px;
	display:block;
}

.hidden {
	display:none;
}
.selectedPiece {
	color:red;
}

.actionableItem {
	cursor:pointer;
}

.UserList {
	height: 300px;
	width:100px;
	border: 1px solid black;
}

.untouchable {
	color: #777777;
}